@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="card">
        <div class="card-body">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Task">Tasks</a>
        </div>
    </div>
</div>
